

        <a class="box-with-image white" href="https://www.linkedin.com/company/mccainfoods/">











    <div class="white-wrapper">
        <div class="box-content">
            <div class="title">Social Media<span class="yellow-title">.</span></div>
            <div class="subtitle">Keep up-to-date on our latest news</div>
            <div class="text"><p>Follow @McCain Foods<br>on LinkedIn</p></div>
        </div>

            <div class="box-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/holding-smartphone.jpg" alt="Holding smartphone">
            </div>
            <div class="arrow"></div>

    </div>
</a>
    


                </div>
            </div>            <div class="col-md-6 column">
                <div>
                            
    

    
        <a class="box-with-image white" href="https://www.mccain.com/sustainability/">
    <div class="white-wrapper">
        <div class="box-content">
            <div class="title">Sustainability<span class="yellow-title">.</span></div>
            <div class="subtitle"> For the generations to come</div>
            <div class="text"><p>Our progress<br>&amp; commitments</p></div>
        </div>

            <div class="box-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/wind-turbine-in-field.jpg" alt="Wind Turbine in Field">
            </div>
            <div class="arrow"></div>

    </div>
</a>
    


                </div>
            </div>        </div>
        </div>
    </div>
    <div class="full-width-row">
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    



    <div class="text-on-image-wrapper  columns-2  has-mobile-global ">

        <div class="text-on-image-inner">
                <div class="text-on-image-item">
                    <div class="article-content">
                                                    <div class="text"></div>
                    </div>
                                    </div>
                <div class="text-on-image-item">
                    <div class="article-content">
                                                    <div class="text"><h2 style="text-align: center;">Celebrating<br>real connections<br>through delicious<br>planet-friendly food<span class="yellow-title">.</span></h2>
<div class="button-wrapper align-center">
    <div class="button-holder yellow rounded  ">
        <a class="button" role="button" href="https://www.mccain.com/about-us/our-purpose-values/">
            LEARN ABOUT OUR PURPOSE
        </a>
    </div>
        </div>
<p style="text-align: center;">&nbsp;</p></div>
                    </div>
                                    </div>
        </div>

            <div class="desktop-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/farmer-holding-potatoes-header.png" alt="Person holding four potatoes. Potatoes in the background.">
            </div>
                    <div class="mobile-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/farmer-holding-potatoes-mobile-header.jpg" alt="Person holding four potatoes"></div>
    </div>


                </div>
            </div>        </div>
        </div>
    </div>
    <div class="large-row-mobile ">
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div>
                            
    

    
        <a class="box-with-image white" href="https://www.mccain.com/our-partners/customers/">
    <div class="white-wrapper">
        <div class="box-content">
            <div class="title">Customers<span class="yellow-title">.</span></div>
            <div class="subtitle">Working in partnership for growth</div>
            <div class="text"><p>Learn about foodservice and retail</p></div>
        </div>

            <div class="box-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/chef-cooking.jpg" alt="Chef Cooking">
            </div>
            <div class="arrow"></div>

    </div>
</a>
    


                </div>
            </div>            <div class="col-md-6 column">
                <div>
                            
    

    
        <a class="box-with-image white" href="https://www.mccain.com/about-us/our-passion-for-food/">
    <div class="white-wrapper">
        <div class="box-content">
            <div class="title">Our Food<span class="yellow-title">.</span></div>
            <div class="subtitle">Hear about our passion for food</div>
            <div class="text"><p>Discover our delicious<br>range of food</p></div>
        </div>

            <div class="box-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/cooked-potatoes.jpg" alt="Cooked Potatoes">
            </div>
            <div class="arrow"></div>

    </div>
</a>
    


                </div>
            </div>        </div>
        </div>
    </div>
    <div class="full-width-row ">
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    



    <div class="text-on-image-wrapper  columns-2  has-mobile-global ">

        <div class="text-on-image-inner">
                <div class="text-on-image-item">
                    <div class="article-content">
                                                    <div class="text"></div>
                    </div>
                                    </div>
                <div class="text-on-image-item">
                    <div class="article-content">
                                                    <div class="text"><h2 style="text-align: center;">Check out<br>career stories<br>from our teams<br>around the world<span class="yellow-title">.<br></span></h2>
<div class="button-wrapper align-center">
    <div class="button-holder yellow rounded  ">
        <a class="button" role="button" href="https://www.mccain.com/careers/functions-at-mccain/">
            Read now
        </a>
    </div>
        </div></div>
                    </div>
                                    </div>
        </div>

            <div class="desktop-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/career-stories-mccain-foods.png" alt="Josiah Gado, McCain Foods team member">
            </div>
                    <div class="mobile-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/career-stories-mccain-foods-mobile.png" alt="Josiah Gado, McCain Foods team member"></div>
    </div>


                </div>
            </div>        </div>
        </div>
    </div>
    <div class="grey-bg ">
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    

    
        <section class="widget news">
	<div class="main-title">Latest News</div>
	<div class="news-holder">
		        <div class="news-item">
            <div class="date">12 June 2024</div>
            <div class="title" style="height: 125px;">Cultivating Resilience: McCain Foods Expands Network of Innovation Hub Farms</div>
            <div class="text">
                
    
                
    
        
        
            
                
                            
    
The addition of four Innovation Hub farms in three new growing regions 
supports further research into regenerative agriculture across varying 
North American landscapes. 
Toronto, ...
                <div class="fadeout"></div>
            </div>
            <div class="button-holder yellow-border rounded"><a href="https://www.mccain.com/information-centre/news/cultivating-resilience-mccain-foods-expands-network-of-innovation-hub-farms/" class="button" role="button">Read more</a></div>
        </div>
        <div class="news-item">
            <div class="date">11 June 2024</div>
            <div class="title" style="height: 125px;">UNB’s McKenna Institute announces investment in digital agriculture led by McCain Foods</div>
            <div class="text">
                
    
                
    
        
        
            
                
                            
    
NEW BRUNSWICK, CA (June 11, 2024) -&nbsp;The McKenna Institute at the 
University of New Brunswick (UNB) is thrilled to announce a landmark 
$3.75 million investment from a partnership ...
                <div class="fadeout"></div>
            </div>
            <div class="button-holder yellow-border rounded"><a href="https://www.mccain.com/information-centre/news/unb-s-mckenna-institute-announces-investment-in-digital-agriculture-led-by-mccain-foods/" class="button" role="button">Read more</a></div>
        </div>
        <div class="news-item">
            <div class="date">05 June 2024</div>
            <div class="title" style="height: 125px;">McCain Foods Releases Farm of the Future Canada Year Three Report</div>
            <div class="text">
                
    
                
    
        
        
            
                
                            
    
McCain’s flagship commercial research farm showcasing encouraging 
results in New Brunswick for the demonstration of sustainable farming 
practices at commercial scale.
TORONTO, ON ...
                <div class="fadeout"></div>
            </div>
            <div class="button-holder yellow-border rounded"><a href="https://www.mccain.com/information-centre/news/mccain-foods-releases-farm-of-the-future-canada-year-three-report/" class="button" role="button">Read more</a></div>
        </div>

	</div>
	<div class="button-holder yellow rounded"><a href="https://www.mccain.com/information-centre/news" class="button" role="button">Information Centre</a></div>
</section>
    


                </div>
            </div>        </div>
        </div>
    </div>
    <div class="full-width-row ">
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    



    <div class="text-on-image-wrapper  columns-2 ">

        <div class="text-on-image-inner">
                <div class="text-on-image-item">
                    <div class="article-content">
                                                    <div class="text"></div>
                    </div>
                                    </div>
                <div class="text-on-image-item">
                    <div class="article-content">
                                                    <div class="text"><h2 style="text-align: center;">Discover more about<br>McCain on Instagram<span class="yellow-title">.<br></span></h2>
<div class="button-wrapper align-center">
    <div class="button-holder yellow rounded  no-uppercase  ">
        <a class="button" role="button" href="https://www.instagram.com/mccainglobal/" target="_blank">
            FOLLOW @McCainGlobal ON INSTAGRAM
        </a>
    </div>
        </div></div>
                    </div>
                                    </div>
        </div>

            <div class="desktop-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/follow-mccain-foods-on-linkedin.jpeg" alt="Person looking at their smartphone, sat by laptop">
            </div>
            </div>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>



</section>



<section class="like-to-know">
    <div class="like-to-know-holder">
            <div class="dropdown-holder">
                <div class="dropdown-title" id="like-to-know-ddl">I would like to know about...</div>
                <div class="dropdown-items">
                        <a href="umb://document/0d5a16900b8144d99f39829d75d0c25f">What is it like to work at McCain Foods?</a>
                        <a href="https://www.mccain.com/careers/how-to-apply/">How do I make a job application?</a>
                        <a href="https://www.mccain.com/contact/">How do I contact McCain Foods?</a>
                        <a href="https://www.mccain.com/information-centre/mccain-foods-worldwide/">How do I find other McCain websites?</a>
                        <a href="https://www.mccain.com/information-centre/mccain-foods-worldwide/">How do I find McCain social media?</a>
                        <a href="https://www.mccain.com/about-us/our-leadership/">Who is your CEO &amp; Board?</a>
                        <a href="https://www.mccain.com/about-us/farmers/">How do I become a Grower/Farmer?</a>
                </div>
            </div>
                    <div class="audience-holder">

                    <a class="audience-item" href="https://www.mccain.com/about-us/our-business-brands/">
                        <div class="audience-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/foodservice-icon-for-com.png" alt="Icon - box of french fries"></div>
                        <div class="audience-title">For<br> <span class="Festival">customers</span></div>
                    </a>
                    <a class="audience-item" href="https://www.mccain.com/careers/">
                        <div class="audience-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/career-icon-for-com.png" alt="Icon - 3 hands on top of each other"></div>
                        <div class="audience-title">For<br> <span class="Festival">candidates</span></div>
                    </a>
                    <a class="audience-item" href="https://www.mccain.com/information-centre/news/">
                        <div class="audience-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/journalist-icon-for-com.png" alt="Icon - laptop"></div>
                        <div class="audience-title">For<br> <span class="Festival">journalists &amp; media</span></div>
                    </a>
                    <a class="audience-item" href="https://www.mccain.com/about-us/farmers/">
                        <div class="audience-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/farmer-icon-for-com.png" alt="Icon - tractor"></div>
                        <div class="audience-title">For<br> <span class="Festival">farmers &amp; growers</span></div>
                    </a>
                    <a class="audience-item" href="https://www.mccain.com/sustainability/">
                        <div class="audience-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/sustainability-icon-for-com.png" alt="Icon - plant growing from ground"></div>
                        <div class="audience-title">For<br> <span class="Festival">sustainability &amp; community</span></div>
                    </a>
            </div>
    </div>
</section>



    





</div>



    



<footer>
    <div class="footer-top">
        <div class="breadcrumb">
            
        </div>
        <div class="footer-dropdown">
            <div class="footer-dropdown-holder">
                        <a href="https://www.mccain.com/careers/">CANDIDATES</a>
                        <a href="https://www.mccain.com/information-centre/">JOURNALISTS</a>
                        <a href="https://www.mccain.com/about-us/farmers/">FARMERS</a>
                        <a href="umb://document/59c74cda201f436c9ac9f670c2b0f4e2">CUSTOMERS</a>
            </div>

            <div class="footer-dropdown-button">McCain for...</div>
        </div>
    </div>
    
</footer>