<!DOCTYPE html>
<html dir="ltr" lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths responsejs ">

<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

   
    
        <link rel="canonical" href="https://www.mccain.com/">
        <title>McCain Foods Global Corporate Website | McCain.com</title>
        <meta name="description" content="McCain Foods | Our purpose - 'Celebrating real connections through delicious, planet-friendly food'. We supply delicious frozen French fries, potato specialties, and appetizers to retail and foodservice customers around the globe.">
        <meta name="keywords" content="McCain Foods; French fries; Food; Frozen food; Careers">
        <meta property="og:type" content="website">
        <meta property="og:title" content="McCain Foods Global Corporate Website | McCain.com">
        <meta property="og:image" content="http://www.mccain.com/media/4333/we-are-mccain.jpg">
        <meta property="og:url" content="https://www.mccain.com/">
        <meta property="og:description" content="McCain Foods | Our purpose - 'Celebrating real connections through delicious, planet-friendly food'. We supply delicious frozen French fries, potato specialties, and appetizers to retail and foodservice customers around the globe.">
        <meta property="og:site_name" content="McCain Foods Global Corporate">
 

    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/css.css" rel="stylesheet">
    <link href="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/css2.css" rel="stylesheet">    
    <link href="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/css2_002.css" rel="stylesheet">

<link rel="preconnect" href="https://player.vimeo.com/">
<link rel="preconnect" href="https://i.vimeocdn.com/">
<link rel="preconnect" href="https://f.vimeocdn.com/">





    <link href="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/DependencyHandler.css" type="text/css" rel="stylesheet">

    


    <!--
  <PageMap>
    <DataObject type="thumbnail">
      <Attribute name="src" value="https://www.mccain.com/media/3550/mccain-foods-mccaincom.jpg"/>
      <Attribute name="width" value="100"/>
      <Attribute name="height" value="100"/>
    </DataObject>
  </PageMap>
-->

<meta name="thumbnail" content="https://www.mccain.com/media/3550/mccain-foods-mccaincom.jpg">




<div class="menu-wrapper">
    <div class="menu-mobile-close"></div>

    <div class="menu-holder">
        <nav role="navigation">
            <div class="menu-item level-first ">
                <a href="https://www.mccain.com/about-us/">
                    About Us
                </a>
                            <div class="menu-item level-second">
                
                    <a href="https://www.mccain.com/about-us/" class="mobile">About Us</a>

                        <a href="https://www.mccain.com/about-us/our-purpose-values/">
                            Our Purpose &amp; Values
                        </a>
                        <a href="https://www.mccain.com/about-us/our-business-brands/">
                            Our Business &amp; Brands
                        </a>
                        <a href="https://www.mccain.com/about-us/our-passion-for-food/">
                            Our Passion for Food
                        </a>
                        <a href="https://www.mccain.com/making-french-fries/">
                            Making French Fries
                        </a>
                        <a href="https://www.mccain.com/about-us/farmers/">
                            Farming with McCain
                        </a>
                        <a href="https://www.mccain.com/about-us/our-leadership/">
                            Our Leadership
                        </a>
                        <a href="https://www.mccain.com/about-us/our-history/">
                            Our History
                        </a>
            </div>

            </div>
            <div class="menu-item level-first ">
                <a href="https://www.mccain.com/sustainability/">
                    Sustainability
                </a>
                            <div class="menu-item level-second">
                
                    <a href="https://www.mccain.com/sustainability/" class="mobile">Sustainability</a>

                        <a href="https://www.mccain.com/sustainability/">
                            Sustainability at McCain
                        </a>
                        <a href="https://www.mccain.com/sustainability/smart-sustainable-farming/">
                            Smart &amp; Sustainable Farming
                        </a>
                        <a href="https://www.mccain.com/sustainability/resource-efficient-operations/">
                            Resource-Efficient Operations
                        </a>
                        <a href="https://www.mccain.com/sustainability/good-food/">
                            Good Food
                        </a>
                        <a href="https://www.mccain.com/sustainability/thriving-communities/">
                            Thriving Communities
                        </a>
                        <a href="https://www.mccain.com/sustainability/strong-foundations/">
                            Strong Foundations
                        </a>
                        <a href="https://www.mccain.com/sustainability/partnerships-collaborations/">
                            Partnerships &amp; Collaborations
                        </a>
                        <a href="https://www.mccain.com/sustainability/in-action/">
                            In Action
                        </a>
                        <a href="https://www.mccain.com/sustainability/reports-downloads/">
                            Reports &amp; Downloads
                        </a>
            </div>

            </div>
            <div class="menu-item level-first no-children">
                <a href="https://www.mccain.com/careers/">
                    Why Join McCain
                </a>
                
            </div>
            <div class="menu-item level-first ">
                <a href="https://www.mccain.com/careers/" target="_top">
                    Careers
                </a>
                            <div class="menu-item level-second">
                
                    <a href="https://www.mccain.com/careers/" target="_top" class="mobile">Careers</a>

                        <a href="https://www.mccain.com/careers/your-life/">
                            🟡 YOUR LIFE - Wellbeing, Your Whole Self
                        </a>
                        <a href="https://www.mccain.com/careers/your-success/">
                            🟡 YOUR SUCCESS - Potential, Development, Recognition
                        </a>
                        <a href="https://www.mccain.com/careers/your-impact/">
                            🟡 YOUR IMPACT - Purpose, Sustainability, Community
                        </a>
                        <a href="https://www.mccain.com/careers/functions-at-mccain/">
                            Our Teams &amp; Functions
                        </a>
            <div class="menu-item level-third">
                

                        <a href="https://www.mccain.com/careers/north-america/">
                            North America
                        </a>
                        <a href="https://www.mccain.com/tech-at-mccain/">
                            Tech @ McCain
                        </a>
            </div>
                        <a href="https://www.mccain.com/careers/early-talent/">
                            Early Talent
                        </a>
                        <a href="https://www.mccain.com/careers/diversity-inclusion/">
                            Diversity, Equity &amp; Inclusion
                        </a>
                        <a href="https://www.mccain.com/careers/how-to-apply/">
                            How to Apply &amp; FAQs
                        </a>
                        <a href="https://www.mccain.com/careers/employment-fraud-notice/">
                            Employment Fraud Notice
                        </a>
            </div>

            </div>
            <div class="menu-item level-first ">
                <a href="https://www.mccain.com/information-centre/">
                    Info Centre
                </a>
                            <div class="menu-item level-second">
                
                    <a href="https://www.mccain.com/information-centre/" class="mobile">Info Centre</a>

                        <a href="https://www.mccain.com/information-centre/news/">
                            Latest News
                        </a>
                        <a href="https://www.mccain.com/information-centre/media-assets/">
                            Media Assets
                        </a>
                        <a href="https://www.mccain.com/information-centre/policies-and-governance/">
                            Policies and Governance
                        </a>
                        <a href="https://www.mccain.com/information-centre/faqs/">
                            FAQs
                        </a>
                        <a href="https://www.mccain.com/information-centre/mccain-foods-worldwide/">
                            McCain Foods Worldwide
                        </a>
                        <a href="https://www.mccain.com/contact/">
                            Contact Us
                        </a>
            </div>

            </div>
            <div class="menu-item level-first no-children">
                <a href="https://www.mccain.com/contact/">
                    Contact Us
                </a>
                
            </div>
</nav>


    </div>

    
    <div class="search-worldwide-holder">
        <div class="search"><span>Search</span></div>
        <div class="separator"></div>
                    <a class="menu-social-icon" style="background: url('/media/3932/linkedin-logo.png') no-repeat;background-position: center;background-size: cover;" title="LinkedIn" aria-label="LinkedIn" href="https://www.linkedin.com/company/mccainfoods/" target="_blank"></a>
                    <a class="menu-social-icon" style="background: url('/media/3934/instagram-logo.png') no-repeat;background-position: center;background-size: cover;" title="Instagram" aria-label="Instagram" href="https://www.instagram.com/mccainglobal/" target="_blank"></a>
                    <a class="menu-social-icon" style="background: url('/media/3933/facebook-logo.png') no-repeat;background-position: center;background-size: cover;" title="Facebook" aria-label="Facebook" href="https://www.facebook.com/mccainglobal" target="_blank"></a>
                    <a class="menu-social-icon" style="background: url('/media/3935/twitter-logo.png') no-repeat;background-position: center;background-size: cover;" title="Twitter" aria-label="Twitter" href="https://twitter.com/mccainglobal" target="_blank"></a>
                    <a class="menu-social-icon" style="background: url('/media/3931/youtube-logo.png') no-repeat;background-position: center;background-size: cover;" title="YouTube" aria-label="YouTube" href="https://www.youtube.com/channel/UCjkc9iJmwWNXZ3KN8vYoeVw" target="_blank"></a>
        <div class="worldwide"></div>
    </div>


</div>

<header>
    <a href="https://www.mccain.com/" class="logo"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/logo-mccain.png" alt="McCain Logo"></a>

    <div class="menu-mobile-icon"></div>

</header>

<div class="home-page">
    
    <div class="main-banner">
        




<div class="page-banner    ">
    <div class="page-banner-content">

        <h1 class="main-title">We are McCain<span class="yellow-title">.</span></h1>

            <div class="overview"><p style="text-align: center;">Your career is here.<br>Discover why now.<br><br></p>
<div class="button-wrapper align-center">
    <div class="button-holder yellow rounded  no-uppercase  ">
        <a class="button" role="button" href="/register">
            APPLY FOR WORK
        </a>
    </div>
        </div></div>


    </div>

            <div class="page-banner-image page-banner-vimeo has-mobile-image" style="background-image: url(/media/4480/careers-home-page-image.png)">
                    <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/home-page-image.jpg" alt="We are McCain&lt;span class=&quot;yellow-title&quot;&gt;. + &quot; Banner Image&quot;)" class="mobile">

                <iframe src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/805985356.html" frameborder="0" allow="autoplay; encrypted-media;" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="desktop"></iframe>
            </div>


</div>


    </div>


    


<section class="page-content">
    
    <div class="umb-grid">
                <div class="grid-section">
    <div class="full-width-row ">
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                </div>
            </div>        </div>
        </div>
    </div>
    <div class="large-row-mobile ">
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div>
                            
    

    
        <a class="box-with-image white" href="https://www.mccain.com/about-us/our-business-brands/">
    <div class="white-wrapper">
        <div class="box-content">
            <div class="title">Our Business<span class="yellow-title">.</span></div>
            <div class="subtitle">Famous for French fries and more!</div>
            <div class="text"><p>Learn about our<br>business &amp; brand</p></div>
        </div>

            <div class="box-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/skins-on-french-fries.jpg" alt="Skins on French Fries">
            </div>
            <div class="arrow"></div>

    </div>
</a>
    


                </div>
            </div>            <div class="col-md-6 column">
                <div>
                            
    

    
        <a class="box-with-image white" href="https://www.mccain.com/careers/">
    <div class="white-wrapper">
        <div class="box-content">
            <div class="title">Careers<span class="yellow-title">.</span></div>
            <div class="subtitle">Unlocking your potential</div>
            <div class="text"><p>Discover exciting new career opportunities</p></div>
        </div>

            <div class="box-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/mccain-foods-team-member-at-a-conference.jpg" alt="McCain Foods team member">
            </div>
            <div class="arrow"></div>

    </div>
</a>
    


                </div>
            </div>        </div>
        </div>
    </div>
    <div class="full-width-row ">
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    



    <div class="text-on-image-wrapper  columns-2  has-mobile-global ">

        <div class="text-on-image-inner">
                <div class="text-on-image-item">
                    <div class="article-content">
                                                    <div class="text"></div>
                    </div>
                                    </div>
                <div class="text-on-image-item">
                    <div class="article-content">
                                                    <div class="text"><h2 style="text-align: center;">Check out our<br>'Hot Potato'<br>sustainability podcast<span class="yellow-title">.<br></span></h2>
<div class="button-wrapper align-center">
    <div class="button-holder yellow rounded  ">
        <a class="button" role="button" href="https://www.mccain.com/sustainability/in-action/">
            Learn More
        </a>
    </div>
        </div></div>
                    </div>
                                    </div>
        </div>

            <div class="desktop-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/mccain_hot_potato_d.jpg" alt="McCain_Hot_Potato_D">
            </div>
                    <div class="mobile-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/mccain_foods_hot_potato_m.jpg" alt="McCain_Foods_Hot_Potato_M"></div>
    </div>


                </div>
            </div>        </div>
        </div>
    </div>
    <div class="large-row-mobile ">
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div>
                            
    

    
        <a class="box-with-image white" href="https://www.linkedin.com/company/mccainfoods/">
    <div class="white-wrapper">
        <div class="box-content">
            <div class="title">Social Media<span class="yellow-title">.</span></div>
            <div class="subtitle">Keep up-to-date on our latest news</div>
            <div class="text"><p>Follow @McCain Foods<br>on LinkedIn</p></div>
        </div>

            <div class="box-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/holding-smartphone.jpg" alt="Holding smartphone">
            </div>
            <div class="arrow"></div>

    </div>
</a>
    


                </div>
            </div>            <div class="col-md-6 column">
                <div>
                            
    

    
        <a class="box-with-image white" href="https://www.mccain.com/sustainability/">
    <div class="white-wrapper">
        <div class="box-content">
            <div class="title">Sustainability<span class="yellow-title">.</span></div>
            <div class="subtitle"> For the generations to come</div>
            <div class="text"><p>Our progress<br>&amp; commitments</p></div>
        </div>

            <div class="box-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/wind-turbine-in-field.jpg" alt="Wind Turbine in Field">
            </div>
            <div class="arrow"></div>

    </div>
</a>
    


                </div>
            </div>        </div>
        </div>
    </div>
    <div class="full-width-row">
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    



    <div class="text-on-image-wrapper  columns-2  has-mobile-global ">

        <div class="text-on-image-inner">
                <div class="text-on-image-item">
                    <div class="article-content">
                                                    <div class="text"></div>
                    </div>
                                    </div>
                <div class="text-on-image-item">
                    <div class="article-content">
                                                    <div class="text"><h2 style="text-align: center;">Celebrating<br>real connections<br>through delicious<br>planet-friendly food<span class="yellow-title">.</span></h2>
<div class="button-wrapper align-center">
    <div class="button-holder yellow rounded  ">
        <a class="button" role="button" href="https://www.mccain.com/about-us/our-purpose-values/">
            LEARN ABOUT OUR PURPOSE
        </a>
    </div>
        </div>
<p style="text-align: center;">&nbsp;</p></div>
                    </div>
                                    </div>
        </div>

            <div class="desktop-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/farmer-holding-potatoes-header.png" alt="Person holding four potatoes. Potatoes in the background.">
            </div>
                    <div class="mobile-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/farmer-holding-potatoes-mobile-header.jpg" alt="Person holding four potatoes"></div>
    </div>


                </div>
            </div>        </div>
        </div>
    </div>
    <div class="large-row-mobile ">
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div>
                            
    

    
        <a class="box-with-image white" href="https://www.mccain.com/our-partners/customers/">
    <div class="white-wrapper">
        <div class="box-content">
            <div class="title">Customers<span class="yellow-title">.</span></div>
            <div class="subtitle">Working in partnership for growth</div>
            <div class="text"><p>Learn about foodservice and retail</p></div>
        </div>

            <div class="box-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/chef-cooking.jpg" alt="Chef Cooking">
            </div>
            <div class="arrow"></div>

    </div>
</a>
    


                </div>
            </div>            <div class="col-md-6 column">
                <div>
                            
    

    
        <a class="box-with-image white" href="https://www.mccain.com/about-us/our-passion-for-food/">
    <div class="white-wrapper">
        <div class="box-content">
            <div class="title">Our Food<span class="yellow-title">.</span></div>
            <div class="subtitle">Hear about our passion for food</div>
            <div class="text"><p>Discover our delicious<br>range of food</p></div>
        </div>

            <div class="box-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/cooked-potatoes.jpg" alt="Cooked Potatoes">
            </div>
            <div class="arrow"></div>

    </div>
</a>
    


                </div>
            </div>        </div>
        </div>
    </div>
    <div class="full-width-row ">
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    



    <div class="text-on-image-wrapper  columns-2  has-mobile-global ">

        <div class="text-on-image-inner">
                <div class="text-on-image-item">
                    <div class="article-content">
                                                    <div class="text"></div>
                    </div>
                                    </div>
                <div class="text-on-image-item">
                    <div class="article-content">
                                                    <div class="text"><h2 style="text-align: center;">Check out<br>career stories<br>from our teams<br>around the world<span class="yellow-title">.<br></span></h2>
<div class="button-wrapper align-center">
    <div class="button-holder yellow rounded  ">
        <a class="button" role="button" href="https://www.mccain.com/careers/functions-at-mccain/">
            Read now
        </a>
    </div>
        </div></div>
                    </div>
                                    </div>
        </div>

            <div class="desktop-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/career-stories-mccain-foods.png" alt="Josiah Gado, McCain Foods team member">
            </div>
                    <div class="mobile-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/career-stories-mccain-foods-mobile.png" alt="Josiah Gado, McCain Foods team member"></div>
    </div>


                </div>
            </div>        </div>
        </div>
    </div>
    <div class="grey-bg ">
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    

    
        <section class="widget news">
	<div class="main-title">Latest News</div>
	<div class="news-holder">
		        <div class="news-item">
            <div class="date">12 June 2024</div>
            <div class="title" style="height: 125px;">Cultivating Resilience: McCain Foods Expands Network of Innovation Hub Farms</div>
            <div class="text">
                
    
                
    
        
        
            
                
                            
    
The addition of four Innovation Hub farms in three new growing regions 
supports further research into regenerative agriculture across varying 
North American landscapes. 
Toronto, ...
                <div class="fadeout"></div>
            </div>
            <div class="button-holder yellow-border rounded"><a href="https://www.mccain.com/information-centre/news/cultivating-resilience-mccain-foods-expands-network-of-innovation-hub-farms/" class="button" role="button">Read more</a></div>
        </div>
        <div class="news-item">
            <div class="date">11 June 2024</div>
            <div class="title" style="height: 125px;">UNB’s McKenna Institute announces investment in digital agriculture led by McCain Foods</div>
            <div class="text">
                
    
                
    
        
        
            
                
                            
    
NEW BRUNSWICK, CA (June 11, 2024) -&nbsp;The McKenna Institute at the 
University of New Brunswick (UNB) is thrilled to announce a landmark 
$3.75 million investment from a partnership ...
                <div class="fadeout"></div>
            </div>
            <div class="button-holder yellow-border rounded"><a href="https://www.mccain.com/information-centre/news/unb-s-mckenna-institute-announces-investment-in-digital-agriculture-led-by-mccain-foods/" class="button" role="button">Read more</a></div>
        </div>
        <div class="news-item">
            <div class="date">05 June 2024</div>
            <div class="title" style="height: 125px;">McCain Foods Releases Farm of the Future Canada Year Three Report</div>
            <div class="text">
                
    
                
    
        
        
            
                
                            
    
McCain’s flagship commercial research farm showcasing encouraging 
results in New Brunswick for the demonstration of sustainable farming 
practices at commercial scale.
TORONTO, ON ...
                <div class="fadeout"></div>
            </div>
            <div class="button-holder yellow-border rounded"><a href="https://www.mccain.com/information-centre/news/mccain-foods-releases-farm-of-the-future-canada-year-three-report/" class="button" role="button">Read more</a></div>
        </div>

	</div>
	<div class="button-holder yellow rounded"><a href="https://www.mccain.com/information-centre/news" class="button" role="button">Information Centre</a></div>
</section>
    


                </div>
            </div>        </div>
        </div>
    </div>
    <div class="full-width-row ">
        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    



    <div class="text-on-image-wrapper  columns-2 ">

        <div class="text-on-image-inner">
                <div class="text-on-image-item">
                    <div class="article-content">
                                                    <div class="text"></div>
                    </div>
                                    </div>
                <div class="text-on-image-item">
                    <div class="article-content">
                                                    <div class="text"><h2 style="text-align: center;">Discover more about<br>McCain on Instagram<span class="yellow-title">.<br></span></h2>
<div class="button-wrapper align-center">
    <div class="button-holder yellow rounded  no-uppercase  ">
        <a class="button" role="button" href="https://www.instagram.com/mccainglobal/" target="_blank">
            FOLLOW @McCainGlobal ON INSTAGRAM
        </a>
    </div>
        </div></div>
                    </div>
                                    </div>
        </div>

            <div class="desktop-image">
                <img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/follow-mccain-foods-on-linkedin.jpeg" alt="Person looking at their smartphone, sat by laptop">
            </div>
            </div>


                </div>
            </div>        </div>
        </div>
    </div>
                </div>
    </div>



</section>



<section class="like-to-know">
    <div class="like-to-know-holder">
            <div class="dropdown-holder">
                <div class="dropdown-title" id="like-to-know-ddl">I would like to know about...</div>
                <div class="dropdown-items">
                        <a href="umb://document/0d5a16900b8144d99f39829d75d0c25f">What is it like to work at McCain Foods?</a>
                        <a href="https://www.mccain.com/careers/how-to-apply/">How do I make a job application?</a>
                        <a href="https://www.mccain.com/contact/">How do I contact McCain Foods?</a>
                        <a href="https://www.mccain.com/information-centre/mccain-foods-worldwide/">How do I find other McCain websites?</a>
                        <a href="https://www.mccain.com/information-centre/mccain-foods-worldwide/">How do I find McCain social media?</a>
                        <a href="https://www.mccain.com/about-us/our-leadership/">Who is your CEO &amp; Board?</a>
                        <a href="https://www.mccain.com/about-us/farmers/">How do I become a Grower/Farmer?</a>
                </div>
            </div>
                    <div class="audience-holder">

                    <a class="audience-item" href="https://www.mccain.com/about-us/our-business-brands/">
                        <div class="audience-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/foodservice-icon-for-com.png" alt="Icon - box of french fries"></div>
                        <div class="audience-title">For<br> <span class="Festival">customers</span></div>
                    </a>
                    <a class="audience-item" href="https://www.mccain.com/careers/">
                        <div class="audience-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/career-icon-for-com.png" alt="Icon - 3 hands on top of each other"></div>
                        <div class="audience-title">For<br> <span class="Festival">candidates</span></div>
                    </a>
                    <a class="audience-item" href="https://www.mccain.com/information-centre/news/">
                        <div class="audience-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/journalist-icon-for-com.png" alt="Icon - laptop"></div>
                        <div class="audience-title">For<br> <span class="Festival">journalists &amp; media</span></div>
                    </a>
                    <a class="audience-item" href="https://www.mccain.com/about-us/farmers/">
                        <div class="audience-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/farmer-icon-for-com.png" alt="Icon - tractor"></div>
                        <div class="audience-title">For<br> <span class="Festival">farmers &amp; growers</span></div>
                    </a>
                    <a class="audience-item" href="https://www.mccain.com/sustainability/">
                        <div class="audience-image"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/sustainability-icon-for-com.png" alt="Icon - plant growing from ground"></div>
                        <div class="audience-title">For<br> <span class="Festival">sustainability &amp; community</span></div>
                    </a>
            </div>
    </div>
</section>



    





</div>



    



<footer>
    <div class="footer-top">
        <div class="breadcrumb">
            
        </div>
        <div class="footer-dropdown">
            <div class="footer-dropdown-holder">
                        <a href="https://www.mccain.com/careers/">CANDIDATES</a>
                        <a href="https://www.mccain.com/information-centre/">JOURNALISTS</a>
                        <a href="https://www.mccain.com/about-us/farmers/">FARMERS</a>
                        <a href="umb://document/59c74cda201f436c9ac9f670c2b0f4e2">CUSTOMERS</a>
            </div>

            <div class="footer-dropdown-button">McCain for...</div>
        </div>
    </div>
    
</footer>



